.App {
  text-align: center; 
   background-color: rgb(215 219 232);;
   min-height: 100vh;
}

.hv-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cenContainer
{
  position: relative;
  height: 100%;
}

.cenContainerAbsolute
{
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: solid black;
}

.marginTopSignIn
{
  margin-top: -24px !important;
  font-weight: bold;
  font-size: 20px;
}

.formSingInMarrgin
{
  margin-top: 32px !important;
}

.footerFixedToBottom
{
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100%;
  height: 100px;
}

.text-left
{
  text-align: left;
}

.text-right
{
  text-align: right;
}

.m-l-16px
{
  margin-left: 16px;
}

.m-t-8px
{
  margin-top: 8px;
}

.p-16px
{
  padding: 16px;
}
.p-64px-16px
{
  padding: 64px 16px;
}

.p-b-16px
{
  padding-bottom: 16px;
}

.errorMessage
{
 color: red;
}